
body {
    
    background: url('Mustang.jpg');
    background-size: cover;
    font-family: Arial;
}
.otp-container{
    display:flex;
    height: 98vh;
    width: 110%;
    justify-content:center;
    align-items:center; 
}


h2{
    position: absolute;
    left: 53%;
    top: 32%;
    font-size: 20px;
    font-weight: bolder;
    color:#fff;
}
.otp-box{
    position: absolute;
    top: 40%;
    text-align: center;
    color:#fff;
}

input[type="text"]{
    padding: 10px 8px;
    border-radius: 3px;
    border: 1px solid #353535;
    width: 100%;
    color:#000;
}

form-wrap{
    
    background:rgba(0,0,0,0.10);
    width: 40%;
    padding: 15px 20px;
}
form-check{
    display: flex;
    justify-content:center;

}
input[type="submit"]{
     width:110%;
     box-sizing:border-box;
     padding:10px 0;
     margin-top:40px;
     text-align: center;
     outline:none;
     border:none;
     background:#60adde;
     opacity:0.7;
     border-radius:25px;
     font-size: 20px;
     cursor:pointer;
}
input[type="submit"]:hover{
      background:#003366;
      opacity:0.7;

}